In [1]:
# http://www.safe182.go.kr/lom/listLcInfoMap.do

In [39]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [138]:
driver = webdriver.Chrome()
driver.get("http://www.safe182.go.kr/lom/listLcInfoMap.do")
driver.find_element_by_css_selector('.margin_bm10 .tabLeft2').click()

In [139]:
html = BeautifulSoup(driver.page_source, "lxml")
#html

In [140]:
address_list = []

# <address> 태그 모두 찾기.
addressList = html.find_all("address")  # bs4.element.ResultSet 형식으로 반환

for address in addressList:
    address = address.contents[0]
    address_list.append(address)

address_list = address_list[:10]
address_list

[' 울산시 울주군 온양읍 발리 600-5',
 ' 서울 송파구 신천동 20 파크리오아파트 5초소(성내천 방향)',
 '경기도 안양시 동안구 평촌동',
 '대구 동구 신암2동 459-11',
 '경기도 부천시 부흥로 49-0',
 '경기도 부천시 원미구 심곡동,129-2',
 '경기도 부천시 원미구 심곡동,33',
 '경기도 부천시 원미구 중동,733-4',
 '경기도 부천시 소향로 127-0,소향로 127',
 '경기도 부천시 원미구 성곡로69번길 93-0']

In [141]:
title_list = []

# class이름이 title인 모든 태그의 값 찾기.
titleList = html.select(".title")   # list로 반환.

for title in titleList:
    title_list.append(title.contents[0])

len(title_list)
title_list

[' GS25시(온양점)',
 ' 파크리오아파트 5초소',
 '(CU)인덕원대우점',
 '(복)꿀벌어린이집',
 '(부천시) 색연필문구점',
 '(부천시)365plus(부천늘사랑점)',
 '(부천시)8080마트',
 '(부천시)88슈퍼',
 '(부천시)BC800커피부천중앙공원점',
 '(부천시)CU도당누리점']

In [142]:
latlan_x_list = []
latlan_y_list = []

select = "li a.title"

links = html.select(select)

for link in links:
    if link.has_attr("href") == True:
        href = link["href"]
        words_list = href.split(sep="'")
        latlan_x_list.append(words_list[1])
        latlan_y_list.append(words_list[3])
        
print(latlan_x_list)
print(latlan_y_list)

['129.2949859', '127.1112718', '126.9769458', '128.6136158', '126.7475113', '126.7882148', '126.7834077', '126.7617701', '126.7619535', '126.7923869']
['35.4081475', '37.5211626', '37.3941264', '35.8773562', '37.4976912', '37.4849247', '37.4975708', '37.4943726', '37.5024387', '37.5186389']

In [143]:
import pandas as pd

# s:이름, s1:주소, s2:좌표
s = pd.DataFrame(title_list, columns=['이름'])
s1 = pd.DataFrame(address_list, columns=['주소'])
s2 = pd.DataFrame(latlan_x_list, columns=['x좌표'])
s3 = pd.DataFrame(latlan_y_list, columns=['y좌표'])

In [144]:
s.head()

             이름
0    GS25시(온양점)
1   파크리오아파트 5초소
2    (CU)인덕원대우점
3     (복)꿀벌어린이집
4  (부천시) 색연필문구점

In [145]:
s1.head()

                                   주소
0                울산시 울주군 온양읍 발리 600-5
1   서울 송파구 신천동 20 파크리오아파트 5초소(성내천 방향)
2                     경기도 안양시 동안구 평촌동
3                   대구 동구 신암2동 459-11
4                    경기도 부천시 부흥로 49-0

In [146]:
s2.head()

           x좌표
0  129.2949859
1  127.1112718
2  126.9769458
3  128.6136158
4  126.7475113

In [147]:
df = ((s.join(s1)).join(s2)).join(s3)
df

,이름,주소,x좌표,y좌표
0,GS25시(온양점),울산시 울주군 온양읍 발리 600-5,129.2949859,35.4081475
1,파크리오아파트 5초소,서울 송파구 신천동 20 파크리오아파트 5초소(성내천 방향),127.1112718,37.5211626
2,(CU)인덕원대우점,경기도 안양시 동안구 평촌동,126.9769458,37.3941264
3,(복)꿀벌어린이집,대구 동구 신암2동 459-11,128.6136158,35.8773562
4,(부천시) 색연필문구점,경기도 부천시 부흥로 49-0,126.7475113,37.4976912
5,(부천시)365plus(부천늘사랑점),"경기도 부천시 원미구 심곡동,129-2",126.7882148,37.4849247
6,(부천시)8080마트,"경기도 부천시 원미구 심곡동,33",126.7834077,37.4975708
7,(부천시)88슈퍼,"경기도 부천시 원미구 중동,733-4",126.7617701,37.4943726
8,(부천시)BC800커피부천중앙공원점,"경기도 부천시 소향로 127-0,소향로 127",126.7619535,37.5024387
9,(부천시)CU도당누리점,경기도 부천시 원미구 성곡로69번길 93-0,126.7923869,37.5186389

# 다음페이지로 이동

In [132]:
i = 0
i = i+1
pageNo = str()

In [133]:
driver.find_element_by_link_text(pageNo).click()