데이터유형

1. 유동인구
    - 구별, 시간별, 인구수
2. CCTV 데이터

In [16]:
import json

In [17]:
import pandas as pd

In [18]:
import re

In [19]:
people = pd.read_csv('project/person.csv')

In [20]:
people = people[['기준일ID','시간대구분','행정동코드','총생활인구수']]

In [21]:
dd = pd.read_excel('행정동코드.xlsx')

In [22]:
dd = dd.iloc[1:,:]

In [23]:
dd = dd.reset_index()

In [24]:
dd = dd[['행자부행정동코드','시도명','시군구명','행정동명']]

In [25]:
addr = []
for x,y,z in zip(dd['시도명'],dd['시군구명'],dd['행정동명']):
    addr.append(x +"특별시 "+ y + " " + z)

In [26]:
dd['주소'] = addr

In [27]:
dd = dd[['행자부행정동코드','주소']]

In [28]:
dd.rename(columns={'행자부행정동코드':'행정동코드'},inplace = True)

In [29]:
dd['행정동코드'] = dd['행정동코드'].astype('int64')

In [45]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 2 columns):
행정동코드    424 non-null int64
주소       424 non-null object
dtypes: int64(1), object(1)
memory usage: 6.7+ KB

In [47]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274752 entries, 0 to 274751
Data columns (total 4 columns):
기준일ID     274752 non-null int64
시간대구분     274752 non-null int64
행정동코드     274752 non-null int64
총생활인구수    274752 non-null float64
dtypes: float64(1), int64(3)
memory usage: 8.4 MB

In [30]:
address=[]
for i in people['행정동코드'] :
    for k,j in enumerate(dd['행정동코드']) :
        if i == j:
            address.append(dd['주소'][k])

In [31]:
len(address)

274752

In [32]:
people['주소'] = address

In [33]:
people.head()

      기준일ID  시간대구분     행정동코드      총생활인구수               주소
0  20180803     23  11110515  14452.7924  서울특별시 종로구 청운효자동
1  20180803     23  11110530  17618.1862    서울특별시 종로구 사직동
2  20180803     23  11110540   3740.3277    서울특별시 종로구 삼청동
3  20180803     23  11110550   8914.5840    서울특별시 종로구 부암동
4  20180803     23  11110560  17935.7587    서울특별시 종로구 평창동

In [34]:
people = people[['기준일ID','시간대구분','행정동코드','주소','총생활인구수']]

In [35]:
people.head()

      기준일ID  시간대구분     행정동코드               주소      총생활인구수
0  20180803     23  11110515  서울특별시 종로구 청운효자동  14452.7924
1  20180803     23  11110530    서울특별시 종로구 사직동  17618.1862
2  20180803     23  11110540    서울특별시 종로구 삼청동   3740.3277
3  20180803     23  11110550    서울특별시 종로구 부암동   8914.5840
4  20180803     23  11110560    서울특별시 종로구 평창동  17935.7587

In [36]:
people.to_csv('floating_population.csv',encoding = 'cp949')

In [66]:
people.groupby(['행정동코드','시간대구분'])['총생활인구수'].mean()

행정동코드     시간대구분
11110515  0        14247.805111
          1        14340.414185
          2        14380.027093
          3        14405.650478
          4        14424.302485
          5        14530.991293
          6        15010.374530
          7        16165.602070
          8        16995.203552
          9        17134.837026
          10       17582.934530
          11       17631.177022
          12       17779.633844
          13       17578.304641
          14       17544.520978
          15       17101.648619
          16       16126.236907
          17       15500.955474
          18       14586.606000
          19       14555.501378
          20       14503.212893
          21       14082.185485
          22       13982.869363
          23       14099.767819
11110530  0        16495.549315
          1        16018.449989
          2        15704.338419
          3        15685.920037
          4        15977.009193
          5        16772.788644
                       ...
11740690  18        7573.071141
          19        8008.839578
          20        8346.301441
          21        8793.165041
          22        9053.628581
          23        8144.997919
11740700  0        31775.958685
          1        31728.178252
          2        31724.960181
          3        31732.019722
          4        31076.159922
          5        31184.053156
          6        30861.892726
          7        30456.349526
          8        29738.261144
          9        29242.138104
          10       28582.884581
          11       27944.687374
          12       27484.852181
          13       27352.668919
          14       27146.937604
          15       26658.036489
          16       26272.569300
          17       26078.913237
          18       26531.042133
          19       26941.255607
          20       27306.176933
          21       28092.394693
          22       29332.846074
          23       31399.446337
Name: 총생활인구수, Length: 10176, dtype: float64