In [3]:
import pandas as pd

In [19]:
import requests

In [65]:
year = {2017026 : 2016, 2016040 : 2015, 2015042 : 2014, 2014095 : 2013, 2013060 : 2012}

In [71]:
hang = pd.read_csv('bub.txt',encoding='cp949',sep='\t')

In [72]:
hang.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [73]:
hang.drop(columns='폐지여부',inplace=True)

In [52]:
address=[]
for i in school['법정동코드'] :
    for k,j in enumerate(hang['법정동코드']) :
        if i == j:
            address.append(hang['법정동명'][k])

In [53]:
len(address)

47

In [47]:
df = pd.read_csv('12_16_schoolzone.txt',encoding='cp949',sep='\t')

In [52]:
print(df.columns)

Index(['다발지식별자', '다발지그룹식별자', '법정동코드', '스팟코드', '관할경찰서', '다발지명', '발생건수', '사상자수',
       '사망자수', '중상자수',
       ...
       'Unnamed: 151', 'Unnamed: 152', 'Unnamed: 153', 'Unnamed: 154',
       'Unnamed: 155', 'Unnamed: 156', 'Unnamed: 157', 'Unnamed: 158',
       'Unnamed: 159', 'Unnamed: 160'],
      dtype='object', length=161)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 161 entries, 다발지식별자 to Unnamed: 160
dtypes: float64(2), int64(10), object(149)
memory usage: 245.4+ KB

In [59]:
df = df[['다발지식별자','다발지그룹식별자','법정동코드','관할경찰서','다발지명','발생건수','사상자수','사망자수','중상자수','경상자수','부상신고자수','위도','경도']]

In [60]:
df.set_index('다발지명',inplace=True)

In [61]:
df = df.filter(regex='서울특별시', axis = 0)

In [63]:
df.reset_index(inplace=True)

In [66]:
for i in year.keys():
    df.다발지그룹식별자.replace(i,year[i],inplace=True)

In [67]:
df.head()

,다발지명,다발지식별자,다발지그룹식별자,법정동코드,관할경찰서,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,위도,경도
0,서울특별시 노원구 상계동(동일초교 부근),99847,2012,1135010500,서울특별시 노원구1,2,2,1,1,0,0,37.664437,127.056828
1,서울특별시 성북구 동소문동7가(정덕초교 부근),98904,2012,1129011000,서울특별시 성북구2,2,2,0,2,0,0,37.597571,127.014564
2,서울특별시 도봉구 쌍문동(쌍문초교 부근),99209,2012,1132010500,서울특별시 도봉구1,2,2,0,0,2,0,37.648129,127.024430
3,서울특별시 종로구 혜화동(혜화초교 부근),99210,2012,1111016900,서울특별시 종로구1,2,2,0,1,1,0,37.588413,126.999607
4,서울특별시 송파구 방이동(방산초교 부근),99214,2012,1171011100,서울특별시 송파구1,2,2,0,0,2,0,37.509797,127.122101

In [68]:
df.drop(columns='다발지식별자',inplace=True)

In [80]:
import re

In [85]:
p1 = re.compile(r'([가-힣]+ +?[가-힣]+ +?[가-힣0-9]+).*')

In [89]:
법정동 = []
for i in df['다발지명'] :
    j = p1.sub(r'\g<1>',i)
    법정동.append(j)

In [91]:
df['법정동'] = 법정동

In [93]:
df.rename(columns={'다발지그룹식별자': '연도'},inplace=True)

In [96]:
df = df[['연도','법정동코드','법정동','다발지명','관할경찰서','발생건수','사상자수','사망자수','중상자수','경상자수','부상신고자수','위도','경도']]

In [97]:
df.to_csv('schoolzone.csv',encoding='cp949')

In [104]:
pp = pd.read_excel('12_16_child.xlsx')

In [99]:
pp.head()

,다발지식별자,다발지그룹식별자,법정동코드,스팟코드,관할경찰서,다발지명,발생건수,사상자수,사망자수,중상자수,...,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161
0,197762,2014110,2726011800,27260001,대구광역시 수성구1,대구광역시 수성구 신매동(사월화성파크드림 부근),3,3,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,197765,2014110,2729010700,27290003,대구광역시 달서구3,대구광역시 달서구 신당동(성서주공네거리 부근),3,4,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,197766,2014110,2820010100,28200001,인천광역시 남동구1,인천광역시 남동구 구월동(모래마을사거리 부근),3,3,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198728,2014110,4615031023,46150004,전라남도 순천시4,전라남도 순천시 해룡면(한소아과의원앞 부근),4,4,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,198729,2014110,4677025026,46770001,전라남도 고흥군1,전라남도 고흥군 고흥읍(깔끔세탁소 부근),4,4,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
pp = pp[['다발지식별자','다발지그룹식별자','법정동코드','관할경찰서','다발지명','발생건수','사상자수','사망자수','중상자수','경상자수','부상신고자수','위도','경도']]
pp.set_index('다발지명',inplace=True)
pp = pp.filter(regex='서울특별시', axis = 0)
pp.reset_index(inplace=True)
year1 = {2017027:2016,2016044:2015,2015049:2014,2014110:2013,2013097:2012}
for i in year1.keys():
    pp.다발지그룹식별자.replace(i,year1[i],inplace=True)
pp.drop(columns='다발지식별자',inplace=True)    
법정동 = []
for i in pp['다발지명'] :
    j = p1.sub(r'\g<1>',i)
    법정동.append(j)
pp['법정동'] = 법정동
pp.rename(columns={'다발지그룹식별자': '연도'},inplace=True)
pp = pp[['연도','법정동코드','법정동','다발지명','관할경찰서','발생건수','사상자수','사망자수','중상자수','경상자수','부상신고자수','위도','경도']]

In [106]:
pp.head()

,연도,법정동코드,법정동,다발지명,관할경찰서,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,위도,경도
0,2012,1154510300,서울특별시 금천구 시흥동,서울특별시 금천구 시흥동(은행나무오거리 부근),서울특별시 금천구2,4,6,0,1,5,0,37.451125,126.908656
1,2013,1121510100,서울특별시 광진구 중곡동,서울특별시 광진구 중곡동(신성시장 부근),서울특별시 광진구1,3,3,0,1,2,0,37.557952,127.088880
2,2013,1114016200,서울특별시 중구 신당동,서울특별시 중구 신당동(약수역_다산로_진출_2 부근),서울특별시 중구2,4,5,0,2,3,0,37.555718,127.011329
3,2013,1123011000,서울특별시 동대문구 이문동,서울특별시 동대문구 이문동(외대앞역앞교차로 부근),서울특별시 동대문구2,4,4,0,3,0,1,37.594689,127.064533
4,2013,1130510100,서울특별시 강북구 미아동,서울특별시 강북구 미아동(삼양시장 부근),서울특별시 강북구2,3,4,0,0,4,0,37.623925,127.018607

In [108]:
pp.to_csv('Child_walk_accident.csv',encoding = 'cp949')